{{# partial "contenido" }}
    <div><h4><a class="back-button" href="/comunidades"> << Back </a></h4></div>
     <section>
         {{#comunidad}}
            {{nombre}}
            <br>
            miembros:
                {{#each miembros}}
                    <li>
                        {{nombre }} {{apellido}}
                    <li>
                {{/each}}
            <br>
            administradores:
                {{#each administradores}}
                    <li>
                        {{nombre }} {{apellido}}
                    </li>
                {{/each}}
             <form method="post" action="/comunidades/{{id}}" >
                  <input type="submit" class="input-button" value="salirme de comunidad" />

             </form>
         {{/comunidad}}


     </section>
{{/partial}}

{{#if usuario}}
    {{> layout-logged-on.html.hbs }}
{{else}}
    {{> layout-logged-out.html.hbs}}
{{/if}}