{{#partial "contenido"}}
<div><h4><a class="back-button" href="/home"> << Back </a></h4></div>
    <h1> Revisión de Incidentes</h1>

    <h3>comunidades:</h3>
    <ul>
        {{#comunidades}}
            <li>{{nombre}}</li>
        {{/comunidades}}
    </ul>
    <ul>
        {{#each revisiones}}
            <li>
                {{#incidente}}
                    <a href="incidentes/{{id}}">
                        {{#servicio}}
                            {{tipoDeServicio}}: {{nombre}}
                        {{/servicio}}
                {{/incidente}}
                - {{vigente}}
                </a>
                <form action="/Comunidades/incidente/{{id}}" method="post">
                    <button>Cerrar Incidente</button>
                </form>
            </li>
        {{/each}}
    </ul>
{{/partial}}

{{#if usuario}}
    {{> layout-logged-on.html.hbs }}
{{else}}
    {{> layout-logged-out.html.hbs}}
{{/if}}
